:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondaru-bg-color: #f5f4fa;
  --social-link-color: #afb1b8;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

address {
  font-style: normal;
}

button {
  font-family: inherit;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.logo {
  margin-right: 93px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
}

.logo > span {
  color: #2196f3;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--primary-white-color);
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__wrap {
  display: flex;
  align-items: center;
}

.header__nav {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  color: var(--title-text-color);
  transition: color 250ms var(--cubic);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}

.nav__link .current {
  color: var(--accent-color);
}

.current::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.header__contacts {
  display: flex;
  margin-left: auto;
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms var(--cubic);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.hero {
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/herobg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.hero__btn {
  display: flex;
  align-items: center;
  text-align: center;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 32px;
  padding-left: 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.benefits__title {
  display: none;
}

.benefits__list {
  display: flex;
  gap: 30px;
}

.benefits__item {
  width: 270px;
}

.benefits__icon--wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--secondaru-bg-color);
  border-radius: 4px;
}

.benefits__subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--title-text-color);
}

.examples {
  padding-top: 0;
}

.examples__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}

.examples__list {
  display: flex;
  gap: 30px;
}

.examples__thumb {
  position: relative;
  overflow: hidden;
}

.examples__text {
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.team__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}

.team__list {
  display: flex;
  gap: 30px;
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__members--wrap {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background-color: #fff;
}

.team__subtitle {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
}

.team__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
}

.team__social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: var(--social-link-color);
  border-radius: 50%;
  transition: color 250ms var(--cubic), background-color 250ms var(--cubic);
}
.social-list__link:hover, .social-list__link:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.social-list__icon {
  fill: currentColor;
  transition: fill 250ms var(--cubic);
}

.clients__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}

.clients__list {
  display: flex;
  gap: 30px;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  color: var(--social-link-color);
  border: 1px solid var(--social-link-color);
  border-radius: 4px;
  transition: color 250ms var(--cubic), border 250ms var(--cubic);
}
.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.clients__icon {
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer-wrap {
  display: flex;
  align-items: baseline;
}

.footer-address-wrap {
  width: 231px;
  margin-right: 70px;
}

.footer-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.location {
  color: var(--primary-white-color);
  transition: color 250ms var(--cubic);
}
.location:hover, .location:focus {
  color: var(--accent-color);
}

.footer .link {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms var(--cubic);
}
.footer .link:hover, .footer .link:focus {
  color: var(--accent-color);
}

.footer-text {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.footer-social-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.footer-social-wrap {
  margin-right: 93px;
}

.footer-social-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: var(--primary-white-color);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: color 250ms var(--cubic), background-color 250ms var(--cubic);
}
.footer-social-link:hover, .footer-social-link:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.footer-social-icon {
  fill: currentColor;
  transition: fill 250ms var(--cubic);
}

.footer-form {
  display: flex;
  align-items: center;
}

.footer-input {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  margin-right: 12px;
  width: 358px;
  height: 50px;
  background: inherit;
  font-size: 16px;
  line-height: 1.25px;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border-color 250ms var(--cubic);
  outline: transparent;
}
.footer-input:hover, .footer-input:focus {
  border-color: var(--accent-color);
}
.footer-input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25px;
  color: rgba(255, 255, 255, 0.6);
}
.footer-input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25px;
  color: rgba(255, 255, 255, 0.6);
}
.footer-input::placeholder {
  font-size: 16px;
  line-height: 1.25px;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 28px;
  padding-left: 28px;
  background: #2196f3;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  cursor: pointer;
  transition: box-shadow 250ms var(--cubic);
}
.footer-form-btn:hover, .footer-form-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-form-btn-text {
  margin-right: 10px;
}

.portfolio-main-title {
  display: none;
}

/* Filter */
.portfolio-filter-wrap {
  margin-bottom: 50px;
  text-align: center;
}

.filter-list {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.filter-btn {
  margin: auto;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--title-text-color);
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: color 250ms var(--cubic), background-color 250ms var(--cubic), box-shadow 250ms var(--cubic);
}
.filter-btn:hover, .filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Portfolio */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-link {
  transition: box-shadow 250ms var(--cubic);
}
.portfolio-link:hover {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-overlay {
  position: relative;
  width: 370px;
  height: 294px;
  overflow: hidden;
}

.portfolio-link:hover .portfolio-overlay-text,
.portfolio-link:focus .portfolio-overlay-text {
  transform: translateY(0);
  transition: transform 250ms var(--cubic);
}

.portfolio-overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 63px;
  padding-bottom: 63px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-white-color);
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms ease;
}

.portfolio-item-inner {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio-title {
  margin-bottom: 4px;
}

.portfolio .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio .text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms var(--cubic), visibility 250ms var(--cubic);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms var(--cubic);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal-btn-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal-close {
  fill: #000000;
  transition: fill 250ms var(--cubic);
}
.modal-close:hover, .modal-close:focus {
  fill: var(--accent-color);
}

.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
}

.modal-form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal-form-label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.modal-form-input {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 14px;
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition: border 250ms var(--cubic);
}
.modal-form-input:hover, .modal-form-input:focus {
  border: 1px solid var(--accent-color);
}

.modal-input-wrap {
  position: relative;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: fill 250ms var(--cubic);
  pointer-events: none;
}

.modal-form-input:hover + .modal-form-icon,
.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-comment {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.modal-form-text {
  resize: none;
  margin-bottom: 10px;
  height: 120px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 16px;
  padding-left: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition: border 250ms var(--cubic);
}
.modal-form-text:hover, .modal-form-text:focus {
  border: 1px solid var(--accent-color);
}
.modal-form-text::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-text:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-text::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-inner {
  display: flex;
  justify-content: center;
}

.modal-chekbox-wrap {
  position: relative;
  margin-bottom: 30px;
  text-align: center;
}

.modal-chekbox-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  bottom: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-chekbox-icon {
  margin-right: 8px;
  border: 2px solid var(--title-text-color);
  fill: transparent;
}

.modal-chekbox-input:checked + .modal-chekbox-label > .modal-chekbox-icon {
  background-color: var(--accent-color);
  border: none;
  fill: var(--primary-white-color);
}

.modal-chekbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.71;
  color: var(--primary-text-color);
}

.modal-chekbox-link {
  margin-left: 5px;
  line-height: 1.71;
  color: var(--accent-color);
  text-decoration: underline;
}

.modal-form-btn {
  display: flex;
  align-items: center;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 52px;
  padding-left: 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms var(--cubic);
}
.modal-form-btn:hover, .modal-form-btn:focus {
  background-color: #188ce8;
}/*# sourceMappingURL=main.css.map */