.benefits__title {
  display: none;
}

.benefits__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.benefits__item {
  max-width: 450px;
}

.benefits__icon--wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: 120px;

  background-color: var(--secondaru-bg-color);

  border-radius: 4px;
}

.benefits__subtitle {
  margin-bottom: 10px;

  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--title-text-color);
}

@media screen and(min-width: $tablet) {
  .benefits__item {
    max-width: 354px;
  }

  .benefits__subtitle {
    text-align: left;
  }
}

@media screen and(min-width: $desktop) {
  .benefits__item {
    max-width: 270px;
  }
}
