.benefits__title {
  display: none;
}

.benefits__list {
  display: flex;
  gap: 30px;
}

.benefits__item {
  width: 270px;
}

.benefits__icon--wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;

  background-color: var(--secondaru-bg-color);

  border-radius: 4px;
}

.benefits__subtitle {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--title-text-color);
}
